@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pyarafont{
    font-family: 'Poppins';
}

.rating-css input{
    display: none;
}

.rating-css input + label{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor : pointer
}

.rating-css input:checked + label ~ label{
    color: #838383;
}

.rating-css label :active{
    transform: scale(0.8);
    transition: 2s ease;
}

@media screen and (max-width: 768px){
    .display-4{
        font-size: 1.5rem;
    }
    .lead{
        font-size: 0.8rem;
    }
    .fixe{
        font-size: 0.5rem;
    }
}